.list {
     display: flex;
     flex-direction: column;
     margin-top: 20px;
     margin-bottom: 100px;
}
.order {
     padding-right: 5px;
     margin-top: 30px;
}
.checkout {
     position: fixed;
     bottom: 0px;
     left: 0;
     right: 0;
     width: 100%;
     height: 72px;
     display: flex;
     background-color: #1c1c21;
     z-index: 4;
     padding: 16px 8px;
     justify-content: space-between;
     gap: 17px;
}
.price {
     display: flex;
     align-items: center;
     gap: 10px;
}
.title {
     text-align: left;
     margin-left: 10px;
}
.totalPrice {
     display: flex;
     align-items: center;
}
