.profile {
     max-width: 1260px;
     padding: 0px 30px 0px 30px;
     width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: start;
     margin-top: 120px;
     gap: 60px;
}
.menu {
     max-width: 320px;
     flex: 1 0 220px;
}
.links {
}
.link {
     height: 64px;
     padding: 20px 0;

     cursor: pointer;
     transition: var(--common-transition);
     &:hover {
          color: #fff;
     }
}
.desc {
     margin-top: 80px;
     color: #8585ad;
     opacity: 0.4;
}
.form {
     flex: 0 1 480px;

     display: flex;
     flex-direction: column;
     gap: 24px;
     & div {
          width: 100%;
          & div {
               width: auto;
          }
     }
}
.btns {
     display: flex;
     justify-content: end;
}

@media (max-width: 767px) {
     .profile {
          flex-direction: column;
          margin-top: 60px;
          padding: 0px 15px 0px 15px;
     }
     .menu {
          display: none;
     }
     .btns {
          margin-top: 20px;
     }
}
