.container {
     max-width: 1260px;
     margin: 0 auto;
     padding: 0px 30px;

     flex: 1 1;
     width: 100%;
     margin-top: 40px;
     display: flex;
     flex-direction: column;
}
.main {
     display: flex;
     gap: 60px;
     flex: 1 1;
     justify-content: space-between;
}
.orders_list {
     width: 50%;
     display: flex;
     flex-direction: column;
     & h2 {
          margin-top: 40px;
          margin-bottom: 20px;
     }
     & ul {
          overflow: auto;
          width: 100%;
          height: 100%;
          flex: 1 1 1px;
          &::-webkit-scrollbar {
               width: 8px;
               margin-left: 8px;
          }
          &::-webkit-scrollbar-track {
               background-color: #2f2f37;
          }
          &::-webkit-scrollbar-thumb {
               background-color: #8585ad;
          }
     }
}

.tabs {
     display: none;
     justify-content: space-between;
     width: 100%;
     & div {
          padding: 16px 0px;
          min-width: 0;
          flex: 1 1 50%;
     }
     margin-bottom: 20px;
}

@media (max-width: 1023px) {
     h2 {
          text-align: center;
     }
     .info {
          width: 100%;
     }
     .orders_list {
          width: 100%;
     }
     .tabs {
          display: flex;
     }
     .orders_list ul {
          overflow: visible;
     }
}

@media (max-width: 767px) {
     .container {
          padding: 0px 10px 20px 10px;
     }

     .process_list {
          column-count: 1;
     }
     .ready_list {
          column-count: 1;
     }
     .state_orders {
          justify-content: center;
     }
     .total_all_time {
          text-align: center;
     }
     .total_day {
          text-align: center;
     }
}
