.big_modal {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100vw;
     z-index: 10;
}

.modal {
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 0 1 720px;
}

.content {
     padding: 60px 100px 60px 100px;
     background-color: #1c1c21;
     border-radius: 25px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     z-index: 10;
     flex: 1 1;
}
.top {
     display: flex;
     align-items: center;

     left: 40px;
     right: 40px;
}
.title {
     position: absolute;
     left: 40px;
}
.order_title {
     font-size: 28px;
     position: absolute;
     left: 40px;
}
.btn_close {
     border: none;
     cursor: pointer;
     appearance: none;
     background-color: inherit;
     position: absolute;
     right: 40px;
     height: 30px;
     width: 30px;
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}
@media (max-width: 767px) {
     .content {
          padding: 56px 8px 56px 8px;
          width: 100vw;
          height: 100vh;
          border-radius: 0;
          position: static;
     }
     .title {
          display: none;
     }
     .btn_close {
          position: absolute;
          right: 11px;
          top: 19px;
          left: auto;
     }
     .order_title {
          display: none;
     }
}
