.ingredient_card {
     position: relative;
     flex: 1 0 200px;
     display: flex;
     flex-direction: column;
     border-radius: 15px;
     transition: background-color 0.2s ease;

     &:hover {
          cursor: grab;
          background-color: rgba($color: #c0c0c0, $alpha: 0.1);
     }
     & button {
          display: none;
     }
}

.card_content {
     display: flex;
     flex-direction: column;

     align-items: center;

     text-align: center;
     flex: 1 1 auto;
     gap: 8px;
}

.price {
     display: flex;
     align-items: center;
     gap: 9px;
     color: #fff;
}

.title {
     flex: 1 1 auto;
     color: #fff;
     font-weight: 600;
     font-size: 18px;
}

.img_ingredient {
     display: block;
     width: 100%;
     height: 140px;
     object-fit: cover;
}
@media (max-width: 1270px) {
     .ingredient_card button {
          display: block;
          width: 100%;
     }
     .ingredient_card {
          padding: 0;
     }
}
