.info {
     width: 50%;
}
.state_orders {
     display: flex;
     gap: 36px;
     margin-bottom: 60px;
}
.ready_list {
     color: rgba(0, 204, 204, 1);
     columns: 2;
     column-gap: 20px;
     margin-top: 24px;
}
.process_list {
     column-count: 2;
     column-gap: 20px;
     margin-top: 24px;
}
.total_all_time {
     margin-bottom: 60px;
}

@media (max-width: 1023px) {
     .info {
          width: 100%;
     }
     .orders_list {
          width: 100%;
     }

     .orders_list ul {
          overflow: visible;
     }
}

@media (max-width: 767px) {
     .process_list {
          column-count: 1;
     }
     .ready_list {
          column-count: 1;
     }
     .state_orders {
          justify-content: center;
     }
     .total_all_time {
          text-align: center;
     }
     .total_day {
          text-align: center;
     }
     .total {
          font-size: 100px;
     }
}
