.list {
     display: grid;
     grid-template: 1fr / repeat(2,1fr);

}

.container_ingredients {
     margin-top: 40px;

     overflow: auto;
     width: 100%;


     flex: 1 1 60%;
}


.container_ingredients::-webkit-scrollbar {
     width: 8px;
}
.container_ingredients::-webkit-scrollbar-track {
     background-color: #2F2F37;
}
.container_ingredients::-webkit-scrollbar-thumb {
     background-color: #8585AD;
}

.burger_ingredients {
     flex: 0 0 48%;
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;

     display: flex;
     flex-direction: column;
}

.h1 {
     align-self: start;
     font-size: 32px;
}

.checkout {
     display: none;
}
.price {
     display: flex;
     align-items: center;
     gap: 10px;
}

@media (max-width: 1270px) {
     .container_ingredients {
          margin-top: 40px;
          height: 100%;
          overflow: auto;
     }
     .list {
          grid-template: 1fr / repeat(3,1fr);
     }
     .checkout {
          position: fixed;
          bottom: 0px;
          width: 100%;
          height: 72px;
          display: flex;
          background-color: #1C1C21;
          z-index: 4;
          padding: 16px 8px;
          justify-content: flex-end;
          gap: 17px;
     }
}

@media (max-width: 767px) {

     .list {
          grid-template: 1fr / repeat(2, 1fr);
     }
}