.header {
     padding: 16px 0px;
     background-color: #1c1c21;
     position: relative;
}

.wrap {
     max-width: 1260px;
     margin: 0 auto;
     padding: 0px 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.profile {
     display: flex;
     gap: 10px;
     padding: 16px 20px;
     align-items: center;
     background-color: transparent;
}
.profile:hover > svg {
     transition: var(--common-transition);
     fill: #f2f2f3;
}
.profile:hover > div {
     transition: var(--common-transition);
     color: #f2f2f3;
}

.logo {
     padding-right: 180px;
     position: absolute;
     left: calc(50% - 145px);
}

.mobile {
     display: none;
     max-width: 1260px;
     margin: 0 auto;
     padding: 0px 10px;
}

@media (max-width: 1100px) {
     .logo {
          display: none;
     }
}

@media (max-width: 767px) {
     .mobile {
          display: flex;
          justify-content: space-between;
          flex: 1 1 auto;
          align-items: center;
          padding: 5px;
     }

     .header {
          flex-direction: row-reverse;
          padding: 7px 0;
     }

     .wrap {
          position: absolute;
          right: 800px;
     }
}
